/data/
/ckpt/
/wandb/
/exp/
/pretrained/
.DS_Store
._.DS_Store
/src/__pycache__/
/models/__pycache__/
/distiller_zoo/__pycache__/
/notebook/test.ipynb
.ipynb_checkpoints/
/src/.ipynb_checkpoints/
/notebook/*
/notebook/data/
/notebook/__pycache__/
/NTK-and-MF-examples/
/notebook/
figure*
other_figure/
*.ptu
*.swp
autoattack/
checkpoints/
launch_slurm_job_single_node_multi_gpu.sh
run_cifar10_cifar100.sh
run_imagenet.sh
run_eval.sh
run_align.sh
launch_slurm_job.sh
